nav.mdl-navigation.mdl-layout--large-screen-only(data-navbar='')
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.ui-margin-right-xs(href='https://stage.dashboard.funerama.mobydigital.com/login', target='_blank')
    | Login
    |           
    a.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(href='#')
    | Register
