extends layouts/default

block content
  .hero-unit
    h1 &apos;Allo, &apos;Allo!
    |       
    p You now have
    |       
    ul
      li HTML5 Boilerplate
      |         
      li Sass
      |         
      li Modernizr