extends layouts/default

block vars
  -var title = 'Funerama - Privacy Policy'
  -var description = 'Funerama privacy policy'
  
block content
  section.mdl-color--fune-primary
    .mdl-grid.mdl-typography--text-center(data-layout='size-lg')
      .mdl-cell.mdl-cell--12-col
        h1.mdl-typography--display-2.ui-padding-vertical-sm Privacy Policy       
  section.mdl-layout
    .mdl-grid.ui-padding-bottom-lg(data-layout='size-lg')
      .mdl-cell.mdl-cell--12-col
        h2.mdl-typography--headline Your privacy is important to us.             
        p The following privacy policy applies to all eziFunerals users, and conforms to Internet privacy standards.             
        p
          | We respect your
          | privacy and are committed to handling your personal information in accordance with privacy laws. This privacy policy explains
          | how we manage your personal information we collect about you.             
        br            
        h2 Your privacy is important to us.
        |             
        p
          | We may collect your personal information directly from you or when you deal with us by telephone, letter or email; when you
          | access and interact with our website; or from other sources. The information we collect may include your name, address, telephone
          | number and email address. If you choose not to provide us with your personal information, we may not be able to contract
          | with you or provide you with the information and services you may require.            
        p
          | If you visit our website, we may record information
          | about your visit including the type of browser and operating system you use, the previous site you visited, your server s
          | IP address, the pages you access and the information downloaded by you. While the anonymous statistical data we collect may
          | be aggregated and used in broader statistical analysis by us and our web monitoring service provider to improve our services,
          | at no time can we personally identify you as the source of that data.             
        p
          | Our website may contain links to websites which are
          | owned or operated by third parties. You should make your own enquiries as to the privacy policies of these third parties.
          | We are not responsible for information on, or the privacy practices of, such websites.
        h2 More
        |
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        |
        h2 More
        |
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae. Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur rem, molestias, quidem voluptatibus quod, quaerat amet adipisci temporibus quo perspiciatis unde nisi eligendi itaque quam harum quis molestiae iure repudiandae