footer.mdl-mega-footer.mdl-color--black(data-footer='')
  ul.mdl-mega-footer--link-list
    li
      a(href='about.html', title='About Us')
        strong About Us           
    li -           
    li
      a(href='', title='Contact')
        strong Contact           
    li -           
    li
      a(href='privacy.html', title='Privacy Policy')
        strong Privacy Policy           
    li -           
    li
      a(href='terms.html', title='Terms & Conditions')
        strong Terms &amp; Conditions
    li -
    li
      a(href='guide.html', title='Style guide')
        strong Style guide        
  .mdl-logo &copy; 2012 - 2017 Funerama, All rights reserved.
